html {
	background-color: #bab9b5;
}

body {
	font-family: Arial, sans-serif;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	clear: both;
	display: block;
	line-height: 0;
}

#logo {
	float: left;
	margin: 10px;
}

[data-role="header"] p {
	font-size: 150%;
}

.plusSign {
	float: right;
	margin-top: -55px;
	margin-right: 10px;
	cursor: pointer;
}

[data-role="footer"] p {
	text-align: center;
}

.minusSign {

	float: right;
	margin-top: -45px;
	margin-right: 100px;
	cursor: pointer;
	text-align: center;
}

#userListItems li {
	padding: 0;
	margin-top: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}


#userListItems label {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}



